* {
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-wrap: wrap;
}
/* Box-One */
.parent {
  margin: 75px auto;
  width: 500px;
  height: 500px;
  background-color: #f9f9f9;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
  width: 99px;
  height: 99px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Box-Two */
.parenttwo {
  margin: 75px auto;
  width: 500px;
  height: 500px;
  background-color: #f9f9f9;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.childtwo-one {
  width: 99px;
  height: 99px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.childtwo-two {
  width: 99px;
  height: 99px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Box-three */
.parentthree {
  margin: 75px auto;
  width: 500px;
  height: 500px;
  background-color: #f9f9f9;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.childtwo-three {
  width: 99px;
  height: 99px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Box-Four */
.parentfour {
  margin: 75px auto;
  width: 500px;
  height: 500px;
  background-color: #f9f9f9;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

.childtwo-four {
  width: 99px;
  height: 99px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Box-Five */
.parentfive {
  margin: 75px auto;
  width: 500px;
  height: 500px;
  background-color: #f9f9f9;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

.childtwo-five {
  width: 99px;
  height: 99px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Box-six */

.parentsix {
  margin: 75px auto;
  width: 500px;
  height: 500px;
  background-color: #f9f9f9;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

.childtwo-six {
  width: 99px;
  height: 99px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* gap: 100px 150px; */
}

.top {
  align-self: start;
}

.bottom {
  align-self: flex-end;
}

.baseline {
  align-self: center;
}

.fivetwo {
  text-align: right;
}
